[submodule "sap-b1"]
	path = sap-b1
	url = https://github.com/daman8271/jivo-sap-b1.git
[submodule "control-panel"]
	path = control-panel
	url = https://github.com/daman8271/jivo-control-panel.git
[submodule "postsql"]
	path = postsql
	url = https://github.com/daman8271/jivo-postsql.git
