[Unit]
Description=Refresh Astha source order book every minute

[Timer]
OnBootSec=30
OnCalendar=*-*-* *:*:00
AccuracySec=1
Unit=mark4-astha-demand.service

[Install]
WantedBy=timers.target
