TPAY_USERNAME=you@example.com
TPAY_PASSWORD=your-password
TPAY_API=https://business.tankhapay.com/api/
TPAY_EMPLOYER_API=https://mobapi.tankhapay.com/api/
TPAY_PAY_API=https://mobapi.tankhapay.com/
TPAY_TND_API=https://tnd.tankhapay.com/api/
TPAY_BODY_KEY=0123456789abcdef
